<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
  <title>Hello User</title>
</head>
<body>

<div class="row">
  <h5>CREATE USER</h5>
  <form class="col s12" action="/user" method="post">
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="insert full name" id="full_name" type="text" class="validate" name="fullname">
        <label for="full_name">Full Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="dob" type="text" class="validate" name="dob">
        <label for="dob">DOB</label>
      </div>
    </div>
    <div class="input-field col s12">
      <select id="gender" name="gender">
        <option value="male">male</option>
        <option value="female">female</option>
      </select><br>
      <label for="gender">Gender:</label>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>

<hr>

<div class="row">
  <h5>GET USER</h5>
  <form class="col s12" action="/user" method="get">
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="insert full name" id="full_name_get" type="text" class="validate" name="fullname">
        <label for="full_name_get">Full Name</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>

<hr>

<div class="row">
  <h5>UPDATE USER</h5>
  <form class="col s12" action="/user">
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="insert id"
               id="id"
               name="id"
               type="text"
               value=""
               class="validate getID">
        <label for="id">ID</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="insert full name"
               id="full_name_update"
               type="text"
               value=""
               class="validate updateFullname"
               name="fullname">
        <label for="full_name_update">Full Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="dob_update"
               type="text"
               value=""
               class="validate updateDOB"
               name="dob">
        <label for="dob_update">DOB</label>
      </div>
    </div>
    <div class="input-field col s12">
      <select id="gender_update" name="gender">
        <option value="male" class="updateGender">male</option>
        <option value="female" class="updateGender">female</option>
      </select><br>
      <label for="gender_update">Gender:</label>
    </div>
    <button class="btn waves-effect waves-light update_BTN" type="submit">Submit
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>
<script>
  const updateBTN = document.querySelector(".update_BTN");
  updateBTN.addEventListener('click', async () => {
    let updateID = document.querySelector(".getID").value;
    let updateFullname = document.querySelector(".updateFullname").value;
    let updateDOB = document.querySelector(".updateDOB").value;
    let updateGender = document.querySelector(".updateGender").value;
    
    await fetch('/user', {
      method: 'PUT',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ id: updateID, name: updateFullname, dob: updateDOB, gender: updateGender })
    });
  });
</script>
<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>
